

.NFTDescription{
    width: 100%;

}

.NFTDescription_box{
    width: 80%;
    margin:  0 auto;
}

.NFTDescription_box_share{
    width: 100;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.NFTDescription_box_share p {
    background-color: var(--icons-color);
    color: var(--main-bg-color);
    padding: 0.4rem 0.8rem;
    border-radius: 1rem;
    cursor: pointer;
}



.NFTDescription_box_share_icon_box{
    display: flex;
    cursor: pointer;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.6rem;
}

.NFTDescription_box_share_icon_box_social{
    background-color: var(--icons-bg-color);
    position: absolute;
    padding: 1rem;
    border-radius: 2rem;
    box-shadow: var(--box-shadow);
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    top: 3rem;
    right: 3rem;
    z-index: 11111111111;


}

.SOCIAL_ICONS{
    padding: 0.5rem;
    transition: all .3s ease-in;
    font-size: 2.5rem;
    display: flex;

}

.SOCIAL_ICONS:hover {
    background-color: var(--icons-color);
    color: var(--icons-bg-color);
    border-radius: 2rem;
}

.NFTDescription_box_share_icon_box_social_threedots{
    background-color: var(--icons-bg-color);
    position: absolute;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
    /* width: 40%; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    top: 3rem;
    right: 0rem;
    z-index: 11111111111;
    gap: 1rem;

}

.NFTDescription_box_share_icon_box_social_threedots a {
    font-size: 1.2rem;
    transition: all .3s ease-in;
    border-radius: 1rem;
    padding: 0.4rem 0.8rem;
    margin: 0.2rem 0.2rem;
}



.NFTDescription_box_share_icon_box_social_threedots a:hover{
    background-color: var(--icons-color);
    color: var(--icons-bg-color);
}


/* Profile Box  */

.NFTDescription_box_profile{
    margin:  2rem 0 2rem 0 ;

}

.NFTDescription_box_profile h1{
    font-size: 3rem;
    font-weight: 700;
}

.NFTDescription_box_profile_box{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-bottom: 1.5rem;
    padding-right: 2rem;
}

.NFTDescription_box_profile_box  div {
    display: flex;
    flex-direction: column;
    padding: 0 0rem 0 0 ;
}

.NFTDescription_box_profile_box  div div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    display: inline;
}


.NFTDescription_box_profile_box  div div p  {
    
    font-weight: 800;
    color: var(--icons-color    );
}

.ICOn{
    /* display: flex; */
    display: inline;
}

.NFTDescription_box_profile div{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;
    margin: 1rem 0 0.5rem 0 ;

}


.NFTDescription_box_profile_img{
    border-radius: 2rem;
    display: inline;
    width: 2.6rem;
    height:2.6rem;
}


.NFTDescription_box_profile_bid_timer{
    margin-block: 1rem;

}

.NFTDescription_box_profile_bid_timer_p {
    font-size: 1.4rem;
    color: var(--icons-color);
    display: flex;
    align-items: center;
    padding: 0 0 0 1rem;
    gap: 1rem;
}

.NFTDescription_box_profile_bid_timer_p_icon{
    display: inline;
}

.NFTDescription_box_profile_bid_box_timer{
    display: flex;
    flex-direction: row ;
    gap: 3rem;
    margin: 2rem 0 0 0 ;
    border-bottom: 1px solid var(--icons-color);
    border-right: 1px solid var(--icons-color);
    padding: 1rem 2rem;
    border-radius: 2rem;
    align-items: center;
    justify-content: center;
}

.NFTDescription_box_profile_bid_box_timer_box_item h2{
    font-size: 2rem;
    font-weight: 700;
}

.NFTDescription_box_profile_bid_box_timer_box_item p{
    font-size: 1rem;
    font-weight: 300;
}

.NFTDescription_box_profile_currentbid{
    margin-top: 3rem;
}

.NFTDescription_box_profile_currentbid_box{
    /* border-left: 1px solid var(--icons-color); */
    border-right: 1px solid var(--icons-color);
    border-bottom: 1px solid var(--icons-color);
    border-radius: 3rem;
    padding: 1rem 2rem;
}

.NFTDescription_box_profile_currentbid_box small {
    position: relative;
    z-index: 2222222222;
    top: -2rem;
    left: 1rem;
    font-size: 1.4rem;
    font-weight: 600;
    border: 1px solid var(--icons-color);
    padding: 0.4rem 1rem;
    border-radius:2rem

}

.NFTDescription_box_profile_currentbid_box p {
    font-weight: 800;
    font-size: 2rem;
    color: rgb(34 197 94/1)
}

.NFTDescription_box_profile_currentbid span{
    position: relative;
    left: 30rem  ;
    top: 1rem;
    font-weight: 500;
    font-size: 1rem;
}

.NFTDescription_box_profile_currentbid_button_box{
    display: flex;
    flex-direction: row;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    margin: 1.3rem 0 0 0 ;
}

.NFTDescription_box_profile_currentbid_button_box button {
    background-color: rgb(34 197 94/1);
    color:#fff;
    padding: 1rem 2rem;
    border-radius: 4rem;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.3rem;
    transition: all .4s ease-in;
}

.NFTDescription_box_profile_currentbid_button_box button:hover{
    background-color: #fff;
    color: rgb(34 197 94/1);
    border: 2px solid rgb(34 197 94/1);
}

.NFTDescription_box_profile_currentbid_button_box_icon{
    display: inline;
}


.NFTDescription_box_profile_currentbid_box_tabs{
    margin: 3rem 0 0 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;

}

.NFTDescription_box_profile_currentbid_box_tabs button {
    background-color: var(--icons-color);
    color: var(--icons-bg-color);
    padding: 0.8rem 1.6rem;
    border-radius: 3rem;
    font-size: 1rem;
    transition: all .4s ease-in;
}

.NFTDescription_box_profile_currentbid_box_tabs button:hover{
    background-color: var(--icons-bg-color);
    color: var(--icons-color);
}

.NFTDescription_box_profile_history_tab{
    margin: 2rem 0 0 0 ;
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    flex-direction: column;
}