.Banner_img_mobile{
    display: none;

}

.Banner{
    /* height: 20vh; */
}

.Banner_img{
    /* max-height: 20rem; */
    /* display: block; */
}


@media screen and  (max-width:35em) {
    .Banner_img{
        display: none;
    }

    .Banner_img_mobile{
        display: block;
    }
    
}