.NFTCardTwo{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3rem;
    padding: 8rem 0 0 0 ;
    margin-bottom: 10rem;
}

.NFTCardTwo_box{
    display: grid;
    cursor: pointer;
    transition: all .3s ease-in;
    border-radius: 1.2rem;
}

.NFTCardTwo_box:hover{
    box-shadow: var(--box-shadow);
}

.NFTCardTwo_box_like{
    padding: 1rem;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    z-index: 111;
}

.NFTCardTwo_box_like_box_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.NFTCardTwo_box_like_box_box p {
    font-size: 1rem;
    color: var(--main-bg-color);
    display: flex;
    align-items: center;
    background-color: var(--icons-color);
    border-radius: .3rem;
    padding: 0  .5rem;
}

.NFTCardTwo_box_like_box_box_icon{
    color: var(--icons-color);
    font-size: 1.8rem;
}

.NFTCardTwo_box_img{
    border-radius: 1rem;
    grid-column: 1/ -1;
    grid-row: 1 / -1;
}

.NFTCardTwo_box_img_img{
    border-radius: 1rem;
}

.NFTCardTwo_box_info{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}

.NFTCardTwo_box_info small {
    font-size: 1rem;
    color: var(--icons-color);
}

.NFTCardTwo_box_info_left{
    line-height: 0;
}

.NFTCardTwo_box_info_left p {
    font-size: 1.2rem;
    font-weight: 600;
}


.NFTCardTwo_box_price{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1rem;
    flex-direction: row;
}

/* .NFTCardTwo_box_price_price{
    display: flex;
    justify-content: space-between;
    gap: .4rem;
    align-items: center;
    font-size: 1rem;
} */

.NFTCardTwo_box_price_price p {
    border: 1px solid var(--icons-color);
    padding: .2rem .4rem;
    font-size: 1.2rem;
    margin-top: .5rem;
    border-radius: .4rem;
}

.NFTCardTwo_box_price_price small {
    background-color:var(--icons-color);
    color: var(--main-bg-color);
    padding: .3rem;
    border-radius: .3rem;
    margin-left: 1rem;
}


.NFTCardTwo_box_price_stock{
    display: flex;
    justify-content: space-between;
    gap: .4rem;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
}


@media screen and (max-width:35em){
    .NFTCardTwo{
        width: 90%;
        grid-template-columns: 1fr;
    }

    .NFTCardTwo_box{
        border-radius: 1rem;
    }
    
    .NFTCardTwo_box_like{
        padding: .4rem;
    }
    

    
    .NFTCardTwo_box_like_box_box p {
        font-size: .6rem;
    }
    
    .NFTCardTwo_box_like_box_box_icon{
        font-size: 1rem;
    }

    
    .NFTCardTwo_box_info{
        padding: .5rem;
    }
    
    .NFTCardTwo_box_info small {
        font-size: .5rem;
    }
    

    .NFTCardTwo_box_info_left p {
        font-size: .6rem;
        font-weight: 500;
    }
    
    
    .NFTCardTwo_box_price{
        padding: .6rem;
    }
    
    .NFTCardTwo_box_price_price p {
        padding: .1rem .3rem;
        font-size: .7rem;
    }

    .NFTCardTwo_box_price_price small {
        padding: .3rem;
        margin-left: 0rem;
        font-size: .5rem;
    }
    
    
    .NFTCardTwo_box_price_stock{
        font-size: .7rem;
        font-weight: 600;
    }
    
}


@media screen and (max-width:768px) and (max-width:1024px){

    .NFTCardTwo{
        width: 90%;
        grid-template-columns: 1fr 1fr;
    }

    .NFTCardTwo_box{
        border-radius: 1rem;
    }
    
    .NFTCardTwo_box_like{
        padding: .4rem;
    }
    

    
    .NFTCardTwo_box_like_box_box p {
        font-size: .6rem;
    }
    
    .NFTCardTwo_box_like_box_box_icon{
        font-size: 1rem;
    }

    
    .NFTCardTwo_box_info{
        padding: .5rem;
    }
    
    .NFTCardTwo_box_info small {
        font-size: .5rem;
    }
    

    .NFTCardTwo_box_info_left p {
        font-size: .6rem;
        font-weight: 500;
    }
    
    
    .NFTCardTwo_box_price{
        padding: .6rem;
    }
    
    .NFTCardTwo_box_price_price p {
        padding: .1rem .3rem;
        font-size: .7rem;
    }

    .NFTCardTwo_box_price_price small {
        padding: .3rem;
        margin-left: 0rem;
        font-size: .5rem;
    }
    
    
    .NFTCardTwo_box_price_stock{
        font-size: .7rem;
        font-weight: 600;
    }
}